.contain{
    margin-left:auto;
    margin-right:auto;
    width: 1100px;
}
.info{
    border-collapse: collapse;
    width: 10%;
    border: 1px solid white;
    background-color: white;
    flex: 4px;
    display: flex;
    justify-content: space-around;

}
.info{
    border: 1px solid black;
    height: 100px;
    width: 130px;
    position: absolute;
    right: 50%;
    top: 100px;
}
.listePostulant{
    
    border-collapse: collapse;
    width: 100%;
    top:110%;
    bottom: 50%;
    
}
 .listePostulant td,.listePostulant{

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 6px;
}
.listePostulant th{
    background: #bed51180;
    padding: 10px;
    color:black;
    text-align: left;
    
}
.listePostulant tr{
    
}
/*nth-child(even)*/
/* Les bordures du tableau seront separés avec border-collapse: separate */
   
h3{
   
    text-align: center;
}
.hr{
    height: 50%;
   background-color: #839D2D;
    width: 3px;
    border: 1px solid #839D2D;
    right:50px ;
}
