
.head{
   display: flex;
    justify-content: space-between;
    flex-direction: row; 
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 5vh;
   
}

.contain-main{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.headTable{
    margin-left: 40%;
    position: absolute;
    top: 28%;
    
}

.headTable td{
    background: #bed51180;
    height: 50px;
    width: 150px;
   

}
.tableDetails
{
    border-collapse: separate; /* Les bordures du tableau seront separés avec border-collapse: separate */
    border-spacing : 10px;
    flex: 2; 
    justify-content: center;
    flex-direction: column; 
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 5vh;
}
button{
    border-radius: 22px;
    float: right;
    background-color: black;
    color: white;
}
.tableDetails tr 
{
    border-radius: 5rem;
    background: #CBD3DD;
}
.tableDetails td{
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    /* border: 1px solid white; */
    font-size: 22px;
    background-color: #bed51180;
    
    
}
.tableDetails .voir{
    /* margin-left: -200vh; */
    text-align: right;
}

.body{
     /*pour centrer les lignes du tableau display et justify-content */
    display: flex;
    justify-content: space-around;
    border-radius: 22px;
}
h1{
    position: absolute;
    top: 35%;

}
.h2{
    text-align: center;
}