<main>
    <div class="lesPostulants row ">
        <div class="col-8">
            <h1>Faite vos tirages</h1>
        </div>
        <div class="col-4" align="center">
            <img src="assets/tirage2.png" width="30%">
        </div>
      
      </div>
    <div class="container row">

        <div class="col-8">
            <form class="theme-form">
                <table>
                      <tbody>
                          <tr>
                              <td>Choisir une liste</td>
                              <td> <input class="form-control" name="nom" placeholder="Liste pstulants1"></td>
                          </tr>
                          <tr>
                              <td>Donner un nombre</td>
                              <td> <input type="number" class="form-control" name="nombre" min="1" placeholder="10"></td>
                          </tr>
                          <tr>
                                          <td for="name">Libellé du tirage</td>
                                          <td><input type="text" id="name" class="form-control" placeholder="Liste apprenants" name="libelleTirage"></td>
                          </tr>
                          <tr>
                              <td><input type="submit" value="Trier" class="form-control btn btn-primary"></td>
                          </tr>
          
                      </tbody>
                </table>
          </form>
        </div>
       
        <div class="col-4">
            <form>
                <table>
                      <tbody>
                          <tr>
                            <td>
                                <input type="file" name="importer" id="importer" class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="text" name="libelleListe" id="libelleListe" class="form-control" placeholder="Liste apprenants">
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="submit" name="import" value="Envoyer" class="form-control btn btn-primary">
                            </td>
                          </tr>
                      </tbody>
                </table>
          </form>
        </div>

    </div>



</main>

