<div class="tirage_forms">
    <div class="import_form">
        <div class="form_title">
            <p>Importer un fichier depuis<br> un fichier Excel</p>
        </div>
        <div class="form_body">
            <form [formGroup]="formulairesImp" (ngSubmit)="enregistreDonner()">
                <br>
                <input type="file" class="file" name="file" formControlName="file" (change)="fileChange($event)" placeholder="Choisir un fichier Excel">
                <br>
                <input type="text" class="form-control" name="date" formControlName="date" placeholder="date" hidden>
                <br>
                <input type="text" name="libele" formControlName="libele" class="new_list_name" placeholder="Libellé de la liste" ><!-- [(ngModel)]="tirage.libelle_liste-->
                <br>
                <br>
                <button type="submit" name="import" class="button4"   >Importer </button>
            </form>
        </div>
    </div>
    <div class="list_form">
        <div class="form_title1">
            <p>Tirage depuis une liste<br> déjà existante</p>
        </div>
        <div class="form_body2">
            <form>
                <br>
               <!-- <input type="text" class="all_lists" placeholder="Listes"> 
                <select class="lists" name="libelle_liste">
                    <option *ngFor="let listepostu of listepostu" class="liste" [(ngModel)]="libelle_liste" value="{{listepostu.libele}}" required>
                        {{listepostu.libele}}
                    </option>
                    
                    
                </select>
                -->
                <br>
              
                
                <br>
                <input type="text" class="new_ldraw_name" [(ngModel)]="libelle_liste" name="libelle_liste"  placeholder="Libellé du liste" required>

                <input type="text" class="new_ldraw_name" [(ngModel)]="libelleT" name="libelleT"  placeholder="Libellé du tirage" required>
                <br>
                <br>
                <input type="number" class="post_number" [(ngModel)]="nbre" name="nbre" placeholder="Nombre de postulants à tirer">
                <br>
                <br>
                <button class="button4" type="submit" (click)="PosTirage()">Effectuer un tirage</button> 
            </form>
        </div>
    </div>
</div>

